body {
    margin-top: 20vh;
    text-align: center;
    transition: all .1s ease-out;
}

* {
    box-sizing: border-box;
}

.title {
    margin: 0 auto;
    padding: 13px 20px;
    font-size: 38px;

    width: 100%;
    max-width: 450px;
    height: auto;

    border-radius: 8px;
    background-color: #fff;
    transition: opacity .1s linear;
}



.button {
    position: relative;
    font-size: 19px;
    margin-top: 15vh;
    padding: 13px 30px;
    border: 2px solid rgb(88, 37, 255);
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    color: rgb(88, 37, 255);
    transition: all .1s ease-out;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(88, 37, 255);
    color: #fff;
}

.icon {
    padding: 13px 15px;
}



.cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.opacity {
    opacity: 0;
}



/* adapt */

@media (max-width: 479.98px) {
    body {
        padding: 0 10px 0;
    }
    .title {
        font-size: 28px;
    }
}